.wrapper {
  padding: 1rem 0 3rem;
  background-color: rgba(0, 0, 255, 0.151);
  .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    width: 50%;
    max-width: 300px;
    border: none;
    padding: 11px;
  }

  .search-button {
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
  }
}

.container {
  display: flex;
  justify-content: center;
  user-select: none;
  &__right {
    width: 500px;
    audio {
      width: 50%;
    }
  }
  &__left {
    width: 300px;
    ul {
      margin: .3rem 1rem;
    }
    li {
      margin: .2rem 0;
    }
  }

  
}
