.wrapper {
  background-color: rgba(0, 0, 255, 0.151);
  form {
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: center;
  user-select: none;
  &__right {
    width: 500px;
    margin-left: 5rem;
    audio {
      width: 50%;
    }
  }
  &__left {
    width: 300px;
    li {
      list-style: none;
    }
  }

  
}
