.wrapper {
  background-color: lavender;
  min-height: 100vh;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background: rgb(43, 42, 42);

  a {
    color: white;
    text-decoration: none;
  }
}

.search-form {
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1.2rem;
  .search-bar {
    width: 50%;
    max-width: 300px;
    border: none;
    padding: 7px;
    font-size: 1rem;
  }
  
  .search-button {
    background: lightcoral;
    border: none;
    padding: 5px 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}


.container {
  display: flex;
  justify-content: center;
  padding: 0rem .6rem 2rem;
  .search-bar {
  width: 50%;
  max-width: 300px;
  border: none;
  padding: 7px;
  font-size: 1rem;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
  // user-select: none;
  &__left {
    width: 280px;
    word-break: break-all;
    ul:not(:first-child) {
      margin: .3rem .2rem 0 .4rem;
    }
    li {
      margin: .5rem 0;
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
  }
  &__right {
    width: 250px;
    .song {
      margin-bottom: 1rem;
      &__title{
        font-size: 1.2rem;
        margin-bottom: .4rem;
      }
      img {
        width: 130px;
        height: 130px;
      }
      &__playerAndFullLink {
        align-items: center;
      }
      audio {
        width: 30px;
        height: 20px;
      }
      &__fullSong {
        margin-left: .2rem;
      }
    }
    .getArtistNameError {
      color: red;
    }
  }
}



// About
.about {
  text-align: center;
  padding: 2rem 1.2rem;
  .subTitle {
    font-size: 1.2rem;
    &:not(:first-child) {
    margin-bottom: .6rem;
    }
  }
  p {
    margin-bottom: 0.4rem;
  }
}
